<h2>Contact Me</h2>
<br><br>
<div class="row">
  <div class="col-6">
    <h5>Address:</h5>
    <p>2301 Eastmark Dr., Apt#339</p>
    <p>College Station</p>
    <p>Texas, 77840</p>
    <br>
    <h5>Tel:</h5>
    <p><%= number_to_phone "5555555555" %></p>
    <br>
    <h5>Wechat:</h5>
    <p>lanxiang0327</p>
    <br>
    <h5>Email:</h5>
    <p><a href="mailto:lanxiang.wang13@tamu.edu?subject=WebsiteConsult" "Email me">Email me</a></p>
  </div>

  <div class="col-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21652.47740414707!2d-96.346613194612!3d30.612131722801035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb0e43cf41903109!2sDepartment+of+Computer+Science+and+Engineering!5e0!3m2!1sen!2sus!4v1511306084200" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>



