
</head>
<body>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome!</h1>
    <p class="lead">This is Lanxiang's website powered by Ruby on Rails 5.</p>
    <br>
    <p class="lead">
      <a href="<%= about_path %>" class="btn btn-lg btn-secondary">About Me</a>
    </p>
  </main>









